//fonts 
@import url('https://fonts.googleapis.com/css?family=Roboto');

//variables 
@import "utilities/variables";

//styles
@import url('form.scss');
@import url('messageBoard.scss');

body,
.navbar-wrapper, 
.main {
  background-color: $dark-white;
  font-family: $roboto-regular;
}

.navbar-wrapper {
  height: $navbar-height;
  border-bottom: 1px solid rgba(0, 0, 0, .06);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main {
  min-height: $main-height;
  width: 80vw;
  margin: 0 auto;
}

.toasts-container {
  top: 10px;
  display: block;
}

.modal {
  position: fixed;
  width: 100%;
  text-align: center;
  height: 100%;
}