//fonts 
@import url('https://fonts.googleapis.com/css?family=Roboto');

//variables 
@import "utilities/variables";

//styles
@import url('form.scss');
@import url('messageBoard.scss');
@import url('profileDashboard.scss');
@import url('friends.scss');

.full-hd {
  min-height: $main-height
}

a {
  color: #262626;
}

body,
.navbar-wrapper, 
.main {
  background-color: $dark-white;
  font-family: $roboto-regular;
}

.pointer {
  cursor: pointer;
}

.navbar-wrapper {
  height: $navbar-height;
  border-bottom: 1px solid rgba(0, 0, 0, .06);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .navigation-links {
    display: flex;

    .avatar-container {
      height: 30px;
      width: 30px;
      margin-right: 5px;
    }

    button, 
    a {
      margin: 0px 15px;
    }
  }

  a,
  span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}

.main {
  min-height: $main-height;
  width: 80vw;
  margin: 0 auto;
}

.toasts-container {
  top: 10px;
  display: block;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  height: 100%;
}

.avatar-container {
  overflow: hidden;
  border-radius: 100%;

  .profile-icon {
    height: 100%;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0; 
  bottom: 0; 
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);

  .upload-container {
    z-index: 3;
    width: 70%;
    margin: 0 auto;
    background-color: $white;
    border-radius: 3px;

    .header {
      border-radius: 3px 3px 0px 0px;
      background: $dark-white;
      border-bottom: $border-shadow;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 16px);
      padding: 0px 8px;
      overflow: hidden;
      margin: 0 auto;

      .close-btn {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .upload-section {
      overflow: hidden;
      min-height: 300px;
      background-color: $white;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      img {
        max-height: 100px;
        max-width: 100px;
        height: auto;
        width: 100%;
      }

      .upload-btn {
        margin: auto;
        border-radius: 3px;
        padding: 40px 100px;

        &:hover {
          background: $dark-white;
          cursor: pointer;
        }
      }
    }
  }
}