//fonts 
@import url('https://fonts.googleapis.com/css?family=Roboto');

//variables 
@import "utilities/variables";

//styles
@import url('form.scss');

.navbar-wrapper {
  padding: 26px 20px;
}

.main {
  min-height: 100vh;
}

.navbar-wrapper, 
.main {
  background-color: $dark-white;
  font-family: $roboto-regular;
}

