@import "utilities/variables";

.field {
    input {
      font-size: 16px;
      line-height: 1.2em;
      padding: 5px;
      background-color: $dark-white;
      border: $border-shadow;
      border-radius: 3px;
      margin-bottom: 10px;
    }
}

.form-container {
  margin-top: 30%;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  background-color: $white;

  form {
    padding: 10px 20px;

    input {
      width: 80%;
    }
  }
}