@import "utilities/variables";

.login-container {
  margin-top: 30%;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  background-color: $white;
}