//variables 
@import "utilities/variables";

.profile-dashboard {
  display: flex;
  flex-direction: column;

  .profile-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .cover-photo-container {
      height: 300px;
      width: 100%;
      background-color: ivory;
      overflow: hidden;
      position: relative;

      .photo-icon {
        height: 20px;
        width: 20px;
        background-color: purple;
        margin: 10px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .user-info-navbar {
      display: flex;
      flex-direction: row;
      width: calc(100% - 30px);
      align-items: center;
      border-bottom: $border-shadow;
      padding: 15px;

      .avatar-container {
        position: relative;
        width: $avatar-width-md;
        height: 100px;
        margin-top: -104px;

        &:hover {
          .profile-pic-selector {
            opacity: 1;
          }
        }

        .profile-pic-selector {
          position: absolute;
          top: 50%;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: .5s ease;
          background-color: rgba(0, 0, 0, 0.8);

          .update-photo-btn {
            text-align: center;
            cursor: pointer;
            color: white;
          }
        }
      }

      .nav-items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: calc(100% - #{$avatar-width-md});
      }
    }
  }

  .profile-feed-container {
    display: flex;
    flex-direction: row;
    padding: 15px 0px;
    
    .item-container {
      width: 33%;
      overflow: hidden;
      margin-right: 28px;

      &:nth-child(3n) {
        margin-right: 0px;
      }

      img {
        object-fit: cover;
        max-width: 100%;
      }
    }
  }
}